/* _content/ISawItFirst/Views/Shared/_Layout.cshtml.rz.scp.css */
#bodytop[b-wpjgurpoof] {
  margin: 100px 50px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

#bodymain[b-wpjgurpoof] {
  margin: 50px 50px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

#bodytop-top[b-wpjgurpoof],
#bodymain-main[b-wpjgurpoof] {
  padding: 50px;
}

#header[b-wpjgurpoof] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo span[b-wpjgurpoof] {
  color: black;
  font-size: 25px;
}

#menu ul[b-wpjgurpoof] {
  margin: 0;
}

#menu li[b-wpjgurpoof] {
  display: inline;
  margin-right: 10px;
  padding: 10px 0;
}

#menu li:hover[b-wpjgurpoof] {
  border-bottom: solid 2px black;
}

#menu span[b-wpjgurpoof] {
  color: black;
  margin: auto;
}

#search[b-wpjgurpoof] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: solid 1px black;
  width: 20%;
}

#search i[b-wpjgurpoof] {
  font-size: 20px;
  margin: 0 10px;
}

#search input[b-wpjgurpoof] {
  width: 100%;
  padding-right: 10px;
  border-radius: 15px;
  height: 30px;
  outline: 0;
  border: 0;
}

#account i[b-wpjgurpoof] {
  margin-right: 20px;
  color: black;
  font-size: 30px;
}

#banner[b-wpjgurpoof] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner-text div[b-wpjgurpoof] {
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, aquamarine, black);
  color: transparent;
  font-size: 120px;
  font-weight: 900;
}

#banner-img[b-wpjgurpoof] {
  margin: 100px;
  min-width: 500px;
  animation: banner-img-b-wpjgurpoof 2s infinite;
}

@keyframes banner-img-b-wpjgurpoof {
  0% {
    transform: rotate(0)
  }

  50% {
    transform: rotate(10deg)
  }

  100% {
    transform: rotate(0)
  }
}
